.footer{
    color:grey;
    text-align: center;
    padding-bottom: 20px;
    font-size: 0.90rem;
}
.contents{
    margin-right: 20px;
  
}
.question{
    margin-top: 20px;
}
hr{
    margin-top: 10px;
    color:grey;
    border: 2px solid;
}